<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kraftly.kspaceclean.trashmonitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/security</string>
        <string>authorizationdb</string>
        <string>read</string>
        <string>system.preferences</string>
    </array>
    <key>StartInterval</key>
    <integer>30</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/kraftly-trashmonitor.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/kraftly-trashmonitor.err</string>
</dict>
</plist>
