<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>kWise</string>
    <key>CFBundleName</key>
    <string>kWise</string>
    <key>CFBundleIdentifier</key>
    <string>app.kraftly.sclean</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Kraftly. All rights reserved.</string>
</dict>
</plist>
